<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#D95D20" />
    <meta
      name="description"
      content="Indulge in a world of culinary wonders. Explore our curated restaurant catalogues, showcasing cozy cafes to exquisite fine-dining establishments. Find your perfect gastronomic adventure, tantalizing your taste buds with flavors that delight. Embark on a unique culinary journey through our collection."
    />

    <link rel="apple-touch-icon" href="/icons/apple-touch-icon.png" />
    <link rel="icon" href="./icons/favicon.ico" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="manifest" href="./app.webmanifest" />

    <script src="https://kit.fontawesome.com/a53653dcab.js" crossorigin="anonymous"></script>
    <title>RestoUp | Home</title>
  </head>

  <body>
    <a href="#mainContent" class="skip-link" id="skipLink">Skip to main content</a>

    <header class="app-bar" id="appBar">
      <div class="app-bar__content">
        <a href="" class="app-bar__brand" id="brand">RestoUp</a>

        <div class="app-bar__menu">
          <button type="button" id="hamburgerButton" aria-label="navigation menu button">
            <i class="fa-solid fa-bars"></i>
          </button>
        </div>

        <nav id="navigationDrawer" class="app-bar__navigation">
          <ul>
            <li><a href="#/home" class="home">Home</a></li>
            <li>
              <a href="https://www.github.com/kadekdarmayasa" target="_blank" rel="noreferrer"
                >About Us</a
              >
            </li>
            <li><a href="#/restaurants" class="restaurants">Restaurants</a></li>
            <li><a href="#/favorites" class="favorites">Favorites</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <div id="app"></div>

    <footer class="footer">
      <a href="" id="brand">RestoUp</a>
      <p>&copy; All Rights Reserved | RestoUp Indonesia</p>
    </footer>
  </body>
</html>
