.review-form {
  margin: 1em 0;
  font-family: inherit;
}

.swal2 {
  &-close {
    font-size: $heading-3;
    padding: 1em;
  }

  &-title {
    margin-top: 1.5rem;
    font-size: $heading-3;
    font-weight: 500;
  }

  &-confirm {
    background-color: $honey-carrot-cake;
    font-family: inherit;
    color: $white;
    border: 0;
    font-size: $body-1;
    height: 50px;
    padding: 0 2em;
    border-radius: 50px;
    cursor: pointer;
    font-weight: 500;
    transition: all 0.3s ease;

    &:focus {
      opacity: 0.8;
    }

    &:hover {
      opacity: 0.8;
    }
  }
}

.form-group {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 1.5rem;

  label {
    font-size: $body-2;
    font-weight: 400;
    color: $venous-blood-red;
  }

  input,
  textarea {
    font-family: inherit;
    background-color: #f5f5f5;
    border: 0;
    border-radius: 10px;
    margin-top: 0.5rem;
    padding: 1em;
    outline: 0;
    font-size: $body-2;
    font-weight: 400;
    color: $venous-blood-red;
    width: 100%;
  }

  input {
    height: 60px;
  }

  textarea {
    resize: none;
    height: 120px;
  }
}
