$vivid-red-tangelo: #d95d20;
$warm-granite: #76716d;
$venous-blood-red: #402e32;
$honey-carrot-cake: #ff9858;
$rock-candy: #dfe0df;
$white: #ffffff;

$heading-1: 2.6rem;
$heading-2: 2.2rem;
$heading-3: 1.5rem;

$body-1: 1.025rem;
$body-2: 1rem;
